@media only screen and (max-width: 599px) and (min-width: 375px) {

  .header {
    grid-template-areas: "logo burger-menu";
    grid-template-columns: 7fr 1fr;
  }
  
  .logo h1 {
       font-size:25px;
   }

  .modes {
    display:none;
  }

  .mode-settings {
    display: none;
  }

  .burger-menu {
    grid-area:burger-menu;
    margin:auto;
    display:block;
  }

  .piano-container {
    margin-bottom: 50px;
}

  .piano-scroll {
    overflow-x: scroll;
    width: 100%;
    padding-bottom: 20px;
  }

  .piano-white-keys {
    width: 1000px;
  }

  .piano-black-keys {
    width: 1000px;
  }

  .tables {
    grid-template-areas: "white-table-1 " "white-table-2" "black-table-1" "black-table-2";
  }

  .white-table-1 {
    margin:auto;
    box-sizing: border-box;

  }
  .white-table-2 {
    margin:auto;
    box-sizing: border-box;

  }

  .black-table-1 {
    margin:auto;
    box-sizing: border-box;
   }

  .black-table-2 {
    margin:auto;
    box-sizing: border-box;


  }
}
