@media only screen and (max-width:1439px) and (min-width:1000px) {
    .black-key a {
        font-size: 2vw;
    }

    .white-key a {
        font-size: 2vw;
    }

    #piano-mode-window {
        top: 420px;
        left: 35vw;
    }
}


@media only screen and (max-width:1000px) and (min-width:650px) {

    .piano-scroll {
        width: 100vw;
    }

    .piano-black-keys {
        width: 100vw;
    }


    .black-key a, .white-key a {
        font-size: 1em;
    }
}